# Создаем .gitignore
echo "# Python
__pycache__/
*.py[cod]
*$py.class
.env
venv/
db.sqlite3

# Django
/static/
/media/

# Frontend
node_modules/
/build
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/
*.swp
doc/
for import/

# OS
.DS_Store
Thumbs.db" > .gitignore