@use '../variables' as *;

.footer {
  background-color: white;
  color: $secondary-color;
  padding: 1rem 2rem;
  text-align: center;
  border-top: 1px solid $border-color;
  height: $footer-height;
  display: flex;
  align-items: center;
  justify-content: center;
} 